<div class="top-header">
    <!-- top heder -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5  hidden-xs">
                <p>Welcome to our detectional traffic light website.</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 hidden-xs">
                <div class="pull-right">
                    <span class="top-link"><i class="fa fa-phone"></i> +84 349940807</span>
                    <span class="top-link"><i class="fa fa-envelope"></i> chau.nguyendinh.set15@eiu.edu.vn</span>
                    <span class="navigation-search top-link"><a href="#"><i class="fa fa-search"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
